sudo apt-get update
sudo apt-get install git
sudo apt-get install curl
sudo apt-get install libkrb5-dev
gpg --keyserver hkp://keys.gnupg.net --recv-keys D39DC0E3
\curl -L https://get.rvm.io | bash -s stable --ruby
source /home/guest/.rvm/scripts/rvm
gem install rails
gem update bundler

