<div class="toast"></div>
<div id="menu-shadow" ng-init="menuVisible = false" ng-show="menuVisible"></div>
<header ng-class="page.headerClass">
    <div id="menu-button" ng-click="menuVisible = !menuVisible" >
        <div ng-class="{'hamburger half': menuVisible, 'hamburger': !menuVisible}"></div>
    </div>
    
    <div id="breadcrumb">
        <div class="title" ng-cloak>{[{page.title}]}</div>
        <div ng-show="page.secondaryTitle">
            <div class="arrow"></div>
            <div class="title secondary" ng-cloak>{[{page.secondaryTitle}]}</div>
        </div>
    </div>
    
    <div id="search" ng-init="showSearch = false" ng-class="{'active' : showSearch}" 
         ng-show="page.searchEnabled">
        <div class="icon" 
             ng-click="showSearch = !showSearch; clearSearch(); menuVisible = false; focusSearch();"
             ng-disabled="menuVisible">
        </div>
        <input type="text" placeholder="Search" 
               ng-model="searchQuery" 
               ng-model-options="{debounce:500}"
               ng-show="showSearch"
               ng-disabled="menuVisible" />
    </div>
</header>

<div id="menu" ng-show="menuVisible" ng-include="'/partials/menu.html'" ng-controller="menuController">
</div>

<section class="viewport">
    <div id="mask" ng-show="menuVisible" ng-click="menuVisible = false"></div>
    <div ng-view class="ngview page" ng-class="page.class"></div>
</section>

<script>       
    
    // From http://stackoverflow.com/questions/3115982/how-to-check-javascript-array-equals
    function arraysEqual(a, b) {
      if (a === b) return true;
      if (a == null || b == null) return false;
      if (a.length != b.length) return false;

      for (var i = 0; i < a.length; ++i) {
        if (a[i] !== b[i]) return false;
      }
      return true;
    }
    
    var app = angular.module("app", ['ngRoute', 'ngAnimate', 'ngResource', 'truncate', 'flow']);

    app.config(function($interpolateProvider) {
          $interpolateProvider.startSymbol('{[{');
          $interpolateProvider.endSymbol('}]}');
    });
    
    app.config(['$routeProvider',
        function($routeProvider) {
            $routeProvider.
            when('/', {
                templateUrl: 'partials/main.html',
                controller: 'masonController',
            }).
            when('/visualisations/:id', {
                templateUrl: 'partials/visualisation.html',
                controller: 'mainController',
            }).
            when('/submit/advert', {
                templateUrl: 'partials/submit-advert.html',
                controller: 'submitAdvertController',
            }).
            when('/submit/visualisation', {
                templateUrl: 'partials/submit-visualisation.html',
                controller: 'submitVisualisationController',
            }).               
            when('/moderate', {
                templateUrl: 'partials/moderate.html',
                controller: 'moderateController',
            }).
            when('/schedule', {
                templateUrl: 'partials/schedule.html',
                controller: 'scheduleController',
            }).
            when('/schedule/timeslot/:id', {
                templateUrl: 'partials/edit-timeslot.html',
                controller: 'editTimeslotController',
            }).            
            when('/sign-in', {
                templateUrl: 'partials/sign-in.html',
                controller: 'signInController',
            }).
            otherwise({
                redirectTo: '/'
            });
      }]);
    
    app.controller('mainController', function($scope, $rootScope, $route, User) {
        $rootScope.user = null;
        
        $rootScope.logIn = function() {
            User.getCurrent({authentication_key:localStorage.getItem("authentication_key")}, 
                // Success
                function(user) {
                    $rootScope.user = user;
                },
                // Failure
                function() {
                    console.log("ERROR")
                    localStorage.removeItem("authentication_key");
                    $rootScope.user = null;
                }       
            );
        }

        $scope.clearSearch = function() { jQuery("#search input").val(""); }
            
        $scope.$on('$routeChangeSuccess', function(next, current) { 
            $scope.menuVisible = false;
         });
        
        $scope.focusSearch = function() {
            setTimeout(function() {
                $("#search input").focus()
            }, 500);
        }

        if (localStorage.getItem("authentication_key") != null) {
            $rootScope.logIn();
        }
    });
        
    app.factory('Visualisation', ['$resource',
        function($resource){
            return $resource('visualisations/:id.json', {id : "@id"}, {
                query: { method:'GET', url:'visualisations.json', isArray:true },
                approve: { method:'PATCH', url:'visualisations/:id/approve.json'},
                reject: { method:'PATCH', url:'visualisations/:id/reject.json'}
            });
    }]);

    app.factory('Timeslot', ['$resource',
        function($resource){
            return $resource('timeslots', {}, {
                query: { method:'GET', isArray:true },
            });
    }]);
    
    app.controller('menuController', function($scope, $rootScope, $route, $location) {
        $scope.visLinks = [{name : "Visualisations", url : "/", img:"visualisations.png"},
                           {name : "Most Recent", url : "", url : "/?newest=18", img:"ic_new_releases_black_24dp.png"}]
        
        $scope.contentLinks = [{name : "Submit Visualisation", class:"submit vis", url : "/submit/visualisation", img:"ic_add_box_black_24dp.png"},
                               {name : "Submit Advert", class : "submit advert", url : "/submit/advert", img:"ic_add_box_black_24dp.png"}]
        
        $scope.adminLinks = [{name : "Moderate Content", class:"moderate", url : "/moderate", img:"ic_check_box_black_24dp.png"},
                             {name : "Schedule Content", class : "schedule", url : "/schedule", img:"ic_timer_black_24dp.png"}]

        
        $scope.getQueryParameters = function(str) {
            var params = (str).replace(/(.*\?)|(.*)/, '').split("&").map(function(n){return n = n.split("="),this[n[0]] = n[1],this}.bind({}))[0];
            return arraysEqual(Object.keys(params), [""]) ? {} : params; 
        }
        
        $scope.isCurrentMenuItem = function(item) {
            return item.url.replace(/(\?.*)/, '') == $location.path() && 
                   arraysEqual(Object.keys($scope.getQueryParameters(item.url)), Object.keys($location.search()));
        }
        
        $rootScope.logOut = function() {
            $rootScope.user = null;
            localStorage.removeItem("authentication_key"); 
        }
        
        $scope.getSignInUrl = function() {
            return "#/sign-in?return=" + $location.path();   
        }
    });

    app.controller('visualisationController', function ($scope, $rootScope, Visualisation, $routeParams) {
        $rootScope.page = {title: "Visualisations",  headerClass:"visualisations", searchEnabled : false, class:"view-visualisation"}
        
        var params = { id : $routeParams.id };
        if ($rootScope.user != null) {
            params.authentication_key = localStorage.getItem("authentication_key");   
        }
        
        $scope.visualisation = Visualisation.get(params);
        $scope.commentsname = "Joe Bloggs";
        $scope.commentsimage = "http://api.randomuser.me/portraits/thumb/men/88.jpg";
        $scope.commentstext = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.";
        $scope.commentsdate = "10/11/2014";
        
    });
    
    app.controller('moderateController', function($scope, $rootScope, $route) {
        $rootScope.page = {title: "Moderate Content",  headerClass:"moderate", searchEnabled : true, class:"moderate"}
    });
    
    app.controller('masonController', function($scope, $rootScope, Visualisation, $routeParams, $location) {
        $rootScope.page = {title: "Visualisations",  headerClass:"visualisations", searchEnabled : true, class:"visualisations"}
    
        $scope.visItems = Visualisation.query($location.search())
        
        $scope.goToVisualisation = function(item) {
            $location.path("/visualisations/"+ item.id);
        }
    });
    
    function showToast(msg, duration) {
        duration = duration || 5000;
        
        $(".toast").fadeOut();
        
        setTimeout( function() {
            $(".toast").html(msg);
            $(".toast").fadeIn();
        }, 500);
        
        if (duration != -1) {
            setTimeout( function() {
                $(".toast").fadeOut();
            }, duration);
        }
    }    
    
    function hideToast() {
        $(".toast").fadeOut();
    }
</script>

