<section class="container-fluid" ng-controller="editTimeslotController">
    <div class="row">

        <div class="col-sm-8" style="height:100%">
            <div id="edit-timeslot" class="card">
                <div class="header">
                    <div class="day">{[{formatDay(timeslot.date)}]}</div>
                    <div class="time">{[{formatTime(timeslot.start, timeslot.end)}]}</div>
                </div>
                <div id="edit">
                    <div id="fields">
                        <div class="editable" ng-if="activeContentItem != null">
                            <div class="data-row">
                                <div class="label_">Number of Screens</div>
                                <div class="control screens" slider min=1 max=4 step=1 start=1></div>
                            </div>                            
                            <div class="data-row">
                                <div class="label_">Duration Priority</div>
                                <div class="control priority" slider min=1 max=10 step=1 start=4></div>
                            </div>
                        </div>
                        <div class="user-provided" ng-if="activeContentItem != null">
                            <div class="data-row">
                                <div class="title">{[{activeContentItem.type}]}</div>
                            </div>
                            <div class="data-row">
                                <div class="title">Run Time</div>
                                <div class="data">{[{activeContentItem.runTime / 60}]} mins</div>
                            </div>
                            <div class="data-row">
                                <div class="title">Preferred number of screens</div>
                                <div class="data">{[{activeContentItem.screens}]}</div>
                            </div>
                            <div class="data-row">
                                <div class="title">Notes</div>
                                <div class="data">{[{activeContentItem.notes}]}</div>
                            </div>
                        </div>
                    </div>
                    <div class="scroll">
                        <div class="content" content-drop-target>
                            <div draggable="true" 
                             ng-repeat="contentItem in timeslotContent"
                             content-item content="contentItem"
                             ng-click="setActiveContentItem(contentItem)"
                             ng-class="{'active': contentItem == activeContentItem}">
                            </div>   
                            <div ng-if="timeslotContent.length == 0" id="drag-here">
                                To show content in this timeslot, drag it here
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <a href="#/schedule" class="cancel">Cancel</a>
                    <a class="save">Save</a>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4" style="height:100%">
            <div id="content-selector">
                <div class="controls card">
                    <div class="search">
                        <input ng-model="contentQuery" 
                               ng-model-options="{debounce:500}"
                               type="text"/>
                    </div>
                    <div class="content-type">
                        <div class="toggle-button" 
                             id="visualisations"
                             ng-click="showVisualisations = !showVisualisations"
                             ng-class="{'pressed' : showVisualisations}">Visualisations</div>                       
                        <div class="toggle-button" 
                             id="adverts"
                             ng-click="showAdverts = !showAdverts"
                             ng-class="{'pressed' : showAdverts}">Adverts</div>
                    </div>
                </div>
                
                <div class="scroll">
                    <div id="content">
                        <div draggable="true" 
                             ng-repeat="contentItem in content | filter:contentQuery | visualisations:showVisualisations | adverts:showAdverts"
                             content-item content="contentItem">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

</script>