<div class="branding">Imperial Data Science Institute</div>
<nav>
    <section>
        <div class="item" ng-repeat="item in visLinks" 
             ng-class="{active: isCurrentMenuItem(item)}">
            <img class="icon" ng-src="/assets/{[{item.img}]}"/> 
            <a ng-href="#{[{item.url }]}">{[{item.name }]}</a>
        </div>
        <div class="item" ng-if="user != null"
             ng-class="{active: isCurrentMenuItem({url:'/visualisations?user='+ user.id})}">
            <img class="icon" ng-src="/assets/ic_person_black_24dp.png"/> 
            <a ng-href="#/visualisations?user_id={[{user.id}]}">Mine</a>
        </div>
    </section>
    <section>
        <div class="item special {[{item.class}]}" ng-repeat="item in contentLinks"
             ng-class="{active: isCurrentMenuItem(item)}">
            <img class="icon" ng-src="/assets/{[{item.img}]}"/> 
            <a ng-href="#{[{item.url }]}">{[{item.name }]}</a>
        </div>
    </section>
    <section ng-if="user != null && user.isAdmin">
        <div class="item special {[{item.class}]}" ng-repeat="item in adminLinks"
             ng-class="{active: isCurrentMenuItem(item)}">
            <img class="icon" ng-src="/assets/{[{item.img}]}"/> 
            <a ng-href="#{[{item.url }]}">{[{item.name }]}</a>
        </div>
    </section>

    <section class="bottom">
        <div class="user item" style="display:block">
            <div ng-if="user == null" style="display:flex">
                <img class="icon avatar" src="/assets/default-user.png"/>
                <a ng-href="{[{getSignInUrl()}]}" class="name">Sign in...</a>
            </div>
            
            <div ng-if="user != null" style="display:flex">
                <img class="icon avatar" src="{[{user.image}]}"/>
                <div class="name logged-in">{[{user.username}]}</div>
                <div class="icon logout" ng-click="logOut()"></div>
            </div>
        </div>

        <div class="legal">
            <a href="#/privacy">Privacy</a> &amp; 
            <a href="#/terms-and-conditions">Terms and Conditions</a>
            <a class="toggle-credits" ng-click="showCredits = !showCredits">Credits</a>
        </div>

        <div class="credits" ng-init="showCredits = false" ng-show="showCredits">
            Created by <a href="http://uk.linkedin.com/in/athigginson">Andrew Higginson</a>, 
                       <a href="">Bryan Liu</a>, 
                       <a href="">Choo Jia Guang</a>, 
                       <a href="">Emma Hulme</a>, 
                       <a href="">Timothy van Bremen</a> and 
                       <a href="https://www.linkedin.com/profile/view?id=371938921">Thomas Taylor-Hall</a>.
        </div>
    </section>
</nav>
