<div id="moderate">

    <table>
       <tbody>
            <tr class="header">
                <th>Title</th>
                <th>Type</th>
                <th>Author</th>
                <th>Content</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="item in content">
                <td class="title"><a ng-href="#/visualisations/{[{item.id}]}">
                    <div class="title">{[{item.title}]}</div>
                    <div class="description">{[{item.description | words:15 }]}</div>
                    </a></td>
                <td>{[{item.type}]}</td>
                <td class="author"><img ng-src="{[{item.img}]}"/><div class="name">{[{item.author.name}]}</div></td>
                <td><a ng-href="{[{item.contentUrl}]}">{[{item.contentType}]}</a></td>
                <td class="action"><a class="approve">APPROVE</a><a class="reject">REJECT</a></td>
            </tr>
        </tbody>
    </table>

</div>