<div id="moderate">

     <table class="users animate grow">
       <tbody>
            <tr class="header">
                <th></th>
                <th>Email</th>
                <th>Notes</th>
                <th></th>
            </tr>
           <tr ng-show="requests.length == 0">
            <td colspan="5" class="no-content">No users to approve</td>
           </tr>
            <tr ng-show="requests.length > 0" ng-repeat="request in requests | filter:searchQuery">
                <td class="name">
                    <div class="name">{[{request.name}]}</div>
                    <div class="username">{[{request.user.username}]}</div>
                    <div class="company">{[{request.company}]}</div>
                </td>
                <td class="email"><a href="mailto:{[{request.email}]}">{[{request.email}]}</a></td>
                <td class="notes">{[{request.notes}]}</td>
                <td class="action">
                    <a class="approve" ng-click="approveUser($event, request)">APPROVE</a>
                    <a class="reject" ng-click="rejectUser($event, request)">REJECT</a>
                </td>
            </tr>
        </tbody>
    </table>

    
    <table class="content animate grow" animate-delay=1>
       <tbody>
            <tr class="header">
                <th>Title</th>
                <th>Type</th>
                <th>Author</th>
                <th>Content</th>
                <th></th>
            </tr>
           <tr ng-if="content.length == 0">
            <td colspan="5" class="no-content">No content to moderate</td>
           </tr>
            <tr ng-if="content.length > 0" ng-repeat="item in content | filter:searchQuery">
                <td class="title">
                    <a ng-href="#/visualisations/{[{item.id}]}">
                        <div class="screenshot" style="background-image:url('{[{item.screenshot}]}')"></div>
                        <div class="title">{[{item.name}]}</div>
                        <div class="description">{[{item.description | words:15 }]}</div>
                    </a>
                </td>
                <td>{[{formatContentType(item.vis_type)}]}</td>
                <td class="author"><img ng-src="{[{item.author.avatar}]}"/><div class="name">{[{item.author.username}]}</div></td>
                <td>
                    <a ng-show="item.link != null && item.link != ''" ng-href="/visualisations/{[{ item.id }]}/display">Web link</a>
                    <a ng-show="item.content != null && item.content != ''" ng-href="/visualisations/{[{ item.id }]}/display">Uploaded file</a>
                </td>
                <td class="action">
                    <a class="approve" ng-click="approveContent($event, item)">APPROVE</a>
                    <a class="reject" ng-click="rejectContent($event, item)">REJECT</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
