<section class="container-fluid" ng-controller="scheduleController">
    <div class="row">

        <div id="schedule" class="col-sm-9">
            <div id="days" >
                <div class="day" ng-repeat='day in ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]'>
                    <div class="day-label">{[{day}]}</div>
                </div>
            </div>
            <div id="timeslots">
                <div id="week">
                    <div class="navigate back"></div>
                    <div id="week-span">20TH OCTOBER - 27TH OCTOBER</div>
                    <div class="navigate forward"></div>
                </div>
                <div class="scroll">
                    <div id="planner">
                        <div id="axis"></div>
                        <div class="day" ng-repeat='day in ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]'>

                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div id="upcoming" class="col-sm-3">
            
        </div>
    </div>
</section>
