<section class="container-fluid" ng-controller="scheduleController">
    <div class="row">

        <div class="col-sm-12">
            <div id="schedule">
                <div id="days">
                    <div class="spacer">
                        <div class="day" ng-repeat='day in ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]'>
                            <div class="day-label">{[{day}]}</div>
                        </div>
                    </div>
                </div>
                <div id="timeslots">
                    <div id="week">
                        <div class="navigate back"></div>
                        <div id="week-span">20TH OCTOBER - 27TH OCTOBER</div>
                        <div class="navigate forward"></div>
                    </div>
                    <div class="scroll" horizontal-scroll>
                        <div id="planner">
                            <div id="axis"><canvas style="font-family: Roboto; width:100%; height:100%"></canvas></div>
                            <div class="day" ng-repeat='day in ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]'>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script src="/assets/moment.js?body=1"></script>
<script>

function drawAxis() {
    var canvas = jQuery("#axis canvas").get(0)

    canvas.width  = canvas.offsetWidth;
    canvas.height = canvas.offsetHeight;
    
    var width = canvas.width;
    var height = canvas.height;

    console.log(canvas.width)

    var tickHeightLarge = Math.floor(height/3);
    var tickHeightSmall = Math.floor(tickHeightLarge/2);

    var totalTicks = 24 * 6;
    var tickSpacing = (width / (totalTicks));

    var time = moment();
    time.second(0);
    time.minute(0);
    time.hour(0);  

    var ctx = canvas.getContext("2d");
    var fontSize = 14;
    ctx.font = fontSize +"px Roboto";

    for (i = 0; i <= totalTicks; i++) {
        var tickHeight = tickHeightSmall;
        ctx.fillStyle = "#c6c6c6";

        if (i % 6 == 0) {
            ctx.fillStyle = "#9e9e9e";
            tickHeight = tickHeightLarge;
        }

        if (i % totalTicks != 0) {
            ctx.fillRect(Math.floor(tickSpacing * i), height - tickHeight, 1, tickHeight);
        }

        if (i % 6 == 0) {
            if (i/6 % 24 != 0) {
                var text = time.format("H:mm");
                ctx.fillText(text, Math.floor(tickSpacing * i) - ctx.measureText(text).width/2, 
                                   Math.floor(((height - tickHeightLarge) + fontSize)/2));
            }
            time.add(1, 'hour');   
        }
    }
}
jQuery(document).ready(function() {
    drawAxis();  
});
jQuery(window).resize(function() {
    drawAxis();
});

</script>