<section class="container-fluid" ng-controller="submitVisualisationController">
    <div class="row">

        <div id="submit-visualisation-col" class="col-sm-8">
            <form id="form" class="card" ng-init="visualisation={ image: $flow.files[0] }" ng-submit="submitVisualistion()">
                <div class="content">
                    <div class="wrapper">
                    <div  class="content-type side-by-side">SCREENSHOT</div>
                    <div flow-init="{singleFile: true, testChunks:false}"
                         flow-file-added="!!{png:1,jpg:1,jpeg:1}[$file.getExtension()]"
                         flow-file-success="$file.msg = $message"
                         flow-name="visualisation.screenshot"
                         class="side-by-side">
                        <span class="camera btn" flow-btn>
                            <img ng-show="!$flow.files.length" class="preview"
                                 src="{[{ submit.img }]}"
                                 name="image"/>
                            <img ng-show="$flow.files.length" class="preview"
                                 style="max-width:117px; max-height: 100px;"
                                 flow-img="$flow.files[0]"/>
                            <input type="file" style="visibility: hidden; position: absolute;"/>
                        </span>
                    </div>
                    <div  class="content-type side-by-side">CONTENT</div>
                    <div flow-init="{singleFile: true, testChunks:false}"
                         flow-file-added="!!{png:1,jpg:1,jpeg:1}[$file.getExtension()]"
                         flow-file-success="$file.msg = $message"
                         flow-name="visualisation.content"
                         class="side-by-side">
                        <span class="camera btn" flow-btn>
                            <img ng-show="!$flow.files.length" class="preview"
                                 src="{[{ submit.img }]}"
                                 name="image"/>
                            <img ng-show="$flow.files.length" class="preview"
                                 style="max-width:117px; max-height: 100px;"
                                 flow-img="$flow.files[0]"/>
                            <input type="file" style="visibility: hidden; position: absolute;"/>
                        </span>
                    </div>
                    </div>
                    <input type="text" 
                           placeholder="Visualisation Name" 
                           ng-model="visualisation.name" />
                    <input type="text" 
                           placeholder="Author's website/more info (optional)" 
                           ng-model="visualisation.website" />    
                    <div class="wrapper">
                        <div  class="content-type side-by-side">CONTENT TYPE</div>
                        <select name="content-type" class="selection side-by-side" 
                                ng-model="visualisation.content_type" 
                                ng-options="c as c.type for c in content_type" >
                        </select>
                        <input type="text" 
                           placeholder="URL" 
                           ng-model="visualisation.url"
                           class="url side-by-side"/>
                    </div>
                    <textarea class="grow" 
                           placeholder="Description" 
                           ng-model="visualisation.description" />
                    <textarea class="grow" 
                           placeholder="Notes/preferences/instructions (optional)" 
                           ng-model="visualisation.notes" />
                </div>
                <div class="bottom">
                <input type="submit" id="submit" value="submit" class="submit"/>
            </div>
            </form>
        </div>

        <div id="guidelines" class="col-sm-4">
            <div class="card guideline blue">
                <div class="title">Content Types</div>
                <div class="item">
                    <div class="heading">Web Link</div>
                </div>
                <div class="item">
                    <div class="heading">Image (PNG, JPG)</div>
                    <div class="description">Dimensions must be 1920 x 1080</div>
                </div>
                <div class="item">
                    <div class="heading">Web Content (ZIP)</div>
                    <div class="description">Must consist of static HTML, JS and CSS files</div>
                    <div class="description">Visualisation should be contained within an index.html file in the root of the ZIP</div>
                </div>
            </div>
            
            <div class="card guideline yellow">
                <div class="title">Visualisation Guidelines</div>
                <div class="item">
                    <div class="heading">Web Content</div>
                    <div class="description">Visualisations should require no user input to start</div>
                    <div class="description">Visualisations should scale to any screen size</div>
                </div>
            </div>
        </div>
    </div>
</section>
