<section class="container-fluid" ng-controller="submitVisualisationController">
    <div class="row">

        <div id="submit-visualisation-col" class="col-sm-8">
            <!-- this form holds the data -->
            <form id="submit-visualisation" class="card animate grow" ng-submit="submit()">
            <!-- the names of the elements are IMPORTANT, they needs to be modelName[fieldName] for rails to pick them up and insert into the right place  -->

                <div class="content">
                    <input type="text" 
                           required
                           placeholder="Visualisation Name" 
                           id="name"
                           name="visualisation[name]"/>
                    <input id="authorinfo" 
                           placeholder="Author's website/more info (optional)" 
                           type="url"
                           name="visualisation[author_info]"/>
                    <div class="flex-wrapper">
                        <div class="content-type">SCREENSHOT</div>
                        <input class="file" required type="file" name="visualisation[screenshot]" id="screenshot"/>
                    </div>
                    <div class="flex-wrapper">
                        <div  class="content-type">CONTENT TYPE</div>
                        <select class="selection" 
                                id="content_type"
                                ng-init="visualisation.content_type = 'weblink'">
                            <option ng-repeat="o in options" ng-selected="{[{o == visualisation.content_type}]}" value="{[{o}]}">{[{o}]}</option>
                        </select>
                        <input
                           placeholder="URL" 
                           name="visualisation[link]"
                           class="url side-by-side"
                           type="url"
                           id="url" ng-show="visualisation.content_type == 'weblink'"/>

                        <input class="content-type file side-by-side" type="file" ng-show="visualisation.content_type == 'file'" name="visualisation[content]" id="content"/>
                    </div>
                    <textarea class="grow" 
                           placeholder="Description" 
                           required
                           name="visualisation[description]"
                           id="description" ></textarea>
                    <textarea class="grow" 
                           placeholder="Notes/preferences/instructions (optional)" 
                           name="visualisation[notes]" ></textarea>
                </div>
                <div class="bottom">
                <input type="submit" id="submit" value="{[{submitText}]}" class="submit"/>
            </div>
            </form>
        </div>

        <div id="guidelines" class="col-sm-4">
            <div class="card guideline blue animate grow" animate-delay=1>
                <div class="title">Content Types</div>
                <div class="item">
                    <div class="heading">Web Link</div>
                </div>
                <div class="item">
                    <div class="heading">Image (PNG, JPG)</div>
                    <div class="description">Dimensions must be 1920 x 1080</div>
                </div>
                <div class="item">
                    <div class="heading">Web Content (ZIP)</div>
                    <div class="description">Must consist of static HTML, JS and CSS files</div>
                    <div class="description">Visualisation should be contained within an index.html file in the root of the ZIP</div>
                </div>
            </div>
            
            <div class="card guideline yellow animate grow" animate-delay=2>
                <div class="title">Visualisation Guidelines</div>
                <div class="item">
                    <div class="heading">Web Content</div>
                    <div class="description">Visualisations should require no user input to start</div>
                    <div class="description">Visualisations should scale to any screen size</div>
                </div>
            </div>
        </div>
    </div>
</section>
