<section class="container-fluid" ng-controller="visController" >
    <div class="row" color-thief-src="{[{ img }]}">
        <div id="details" class="col-sm-8" class="card vis">
            <div class="guideline card">
                <div class="content">
                    <div class="img" style="background-image: url({[{ img }]}); height: 70vh; background-repeat: no-repeat; background-size: cover;"></div>
                    <div class="header" color-thief-src="{[{ img }]}" style="font-size: 2em;">{[{ name }]}</div>
                    <div class="desc">{[{ desc }]}</div>
                </div>
            </div>
        </div>
        <div id="comments" class="col-sm-4">
            <div class="card guideline">
                <div class="item">
                    <div class="heading">Comments</div>
                    <form ng-controller="CommentController">
                          <div id="new-comment" class="comment">
                              <textarea ng-model="txtcomment" placeholder="Your comment"></textarea>
                              <button class="newcomment btn" ng-click="comment_add();" style="margin-top:10px;">Post Comment</button>
                          </div>                        
                          Comments
                          <ul>
                            <li ng-repeat="comnt in comments"> {[{ comnt }]}></li>
                          </ul>
                    </form>
                    </div>
                    <div class="comment bubble" ng-repeat="comment in comments">
                    <div class="top"></div>
                    <div class="bottom">
                        <div class="date">Posted on {[{comment.date}]}</div>
                        <div class="rating">{[{comment.rating}]} stars</div>
                    </div>
                </div>
                </div>
                
                
            </div>
        
            
        
            
            
        </div>
    </div>
</section>
