<section class="container-fluid" ng-controller="visController" >
    <div class="row">
        <div id="details" class="col-sm-6" class="card vis">
            <div class="guideline card">
                <div class="visualisation">
                    <div class="top" style="background-image: url({[{ visualisation.link }]});"></div>
                    <div class="header">{[{ visualisation.name }]}</div>
                    <div class="description">{[{ visualisation.description }]}</div>
                    <div class="bottom">
                        <img class="avatar" align="left" ng-src="{[{commentsimage}]}"/>
                        <span class="auhor">{[{commentsname}]}</span>
                        <span class="link">{[{visualisation.link}]}</p></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card guideline" style="padding:0px;">
                    <div class="comment">
                        <div class="top">
                            
                                <img class="avatar" align="left" ng-src="{[{commentsimage}]}"/>
                                <textarea placeholder="Comment" class="commenttext" rows="4" wrap="hard"></textarea>
                            
                        </div>
                        <div class="bottom" style="text-align: right;">
                            <button class="post" >POST</button>
                        </div>
                    </div>                        
            </div>
            <div class="card guideline" style="padding:0px;">
                <div class="comment">
                    <div class="top">
                        <span>
                            <img align="left" class="avatar" ng-src="{[{commentsimage}]}"/>
                            <textbox class="commenttext">{[{commentstext}]}</textbox>
                        </span>
                    </div>
                    <div class="bottom posted">
                        Posted on {[{commentsdate}]}
                    </div>                
                </div>
                
                
            </div>
                
                
            </div>
        
            
        
            
            
        </div>
    </div>
</section>