<h1>Listing visualisations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visualisations.each do |visualisation| %>
      <tr>
        <td><%= link_to 'Show', visualisation %></td>
        <td><%= link_to 'Edit', edit_visualisation_path(visualisation) %></td>
        <td><%= link_to 'Destroy', visualisation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visualisation', new_visualisation_path %>
