@import "variables";
@import "mixins";


.card {
    background:white;
    box-shadow: 0px 1px 7px rgba(0,0,0,0.25);
    border-radius: $card-radius;
    
    &.view {
        height: 100%;
        margin-bottom: 20px;
    }
    
    &.guideline {
        height: 100%;
        $padding:0.9rem;
        text-align: center;
        font-size:$padding;
        padding-bottom:$padding;
        font-weight:500;
        margin-bottom: 20px;
        
        .title {
            $height:1.2em + 2 * 1em;
            font-size:1.2em;
            text-transform:uppercase;
            height:$height;
            line-height:$height;
            border-top-left-radius: $card-radius;
            border-top-right-radius: $card-radius;
        }
        
        .item {
            padding:1em 2em 1em 2em;
            border-top:1px so classlid rgba(0, 0, 0, 0.05);
            
            .heading {
                text-transform:uppercase;
            }
            
            .description {
                padding-top:1em;   
                height: auto;
                min-height: 100% !important;
            }
            
            .img {
                width:100%;
                height: 60em;
                background-size: cover;
                background-repeat: no-repeat;
                border-top-right-radius: $card-radius;
                border-top-left-radius: $card-radius;
                background-position: center;
                flex-grow:1;
        
            }
            
                        
            &:nth-child(2) {
                border-color: rgba(0, 0, 0, 0.08);
            }
        }
        
        
        
        &.blue {
            background: #90a4ae; 
            
            .title { 
                background:#8299a4;
                color:#4e5c62;
            }
            
            .item {
                .heading { color:#566268; }
                .description { color:#fff; }
            }
        }
        
        &.yellow {
            background: #ffeb3b;
            
            .title {
                background-color: #ffe60f;
                color:#c0ad08;
            }
            
            .item {
                .heading { color:#756a00; }
                .description { color:rgba(0, 0, 0, 0.7);   }
            }

        }
        
    }
}

.visualisation {
    $head-size: 32px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .top {
        padding-top: 1em;
        padding-bottom: 1em;
        width:100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-top-right-radius: $card-radius;
        border-top-left-radius: $card-radius;
        background-position: center;
        flex-grow:1;
    }
    
    .header {
        padding-left: 1em;
        padding-right: 1em;
        line-height: 2.5em;
        vertical-align: middle;
        font-size: 2em;
        font-weight:500;
        height: 2.5em;
        color:#fff;
        box-shadow: 0px -7px 5px -3px rgba(0,0,0,0.1);
        
        &.bright-background {
            color:#333;
        }
    }
    
    .description {
        padding:2em;
        flex-grow:1;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #ffffff;
    }

    .bottom {
        padding:0rem 2rem 2rem 2rem;
        text-align: left;
        vertical-align: middle;
        
            
        .avatar {
            vertical-align: top;
            border-radius:50%;
            width:$head-size;
            height:$head-size;
        }
        
        .owner {
            line-height: $head-size;
            padding:0 1rem;
            color: #424242;
            float: left;
        }
        
        .link{
            line-height: $head-size;
            padding:0 1rem;
            float: right;
            @include link(#00E676);
        }
    }

}

.comment {
    $head-size: 44px;
    
    @media (max-width: $mobile-width) {
        &:first-child {
            margin-top:20px;   
        }
    }

    .top {
        display:flex;
        
        .left {
            flex-grow: 0;
            flex-shrink: 0;
            
            .avatar {
                padding: 5px;
                vertical-align: top;
                margin: 10px;
                border-radius:50%;
                width:$head-size;
                height:$head-size;
            }
        }
    
        .inputtext{
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 0em;
            padding-right: 0em;
            margin-left: 0.4em;
            text-align: left;
            width: calc(100% - #{$head-size} - 3em);
        }

        .commenttext {
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 0em;
            padding-right: 1em;
            text-align: left;
            font-size:0.9rem;
            flex-grow:1;
        } 
    }
    
    .bottom {
        text-align: left;
        vertical-align: middle;
        color: #9E9E9E;
        border-bottom-left-radius:3px;
        border-bottom-right-radius:3px;
        
        &.posted {
            line-height: 3em;
            background-color: #E0E0E0;
            padding: 0.2rem 1rem;
        }

        .post {
            padding: 1rem 1.5rem;
            line-height: 2em;
            text-align: right;
            background: transparent;
            border: transparent;
            text-transform:uppercase;
            @include link(#039BE5);
        }
    }
}
