@import "variables";
@import "mixins";

/* Grow animation */
.animate {
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 400ms;


    &.grow {
        transform: scale( 0 );
        
        &.perform {
            transform: scale( 1 );
        }
    }

}

.card {
    background:white;
    box-shadow: 0px 1px 7px rgba(0,0,0,0.25);
    border-radius: $card-radius;
    
    &.view {
        height: 100%;
        margin-bottom: 20px;
    }
    
    &.guideline {
        height: 100%;
        $padding:0.9rem;
        text-align: center;
        font-size:$padding;
        padding-bottom:$padding;
        font-weight:500;
        margin-bottom: 20px;
        
        .title {
            $height:1.2em + 2 * 1em;
            font-size:1.2em;
            text-transform:uppercase;
            height:$height;
            line-height:$height;
            border-top-left-radius: $card-radius;
            border-top-right-radius: $card-radius;
        }
        
        .item {
            padding:1em 2em 1em 2em;
            border-top:1px so classlid rgba(0, 0, 0, 0.05);
            
            .heading {
                text-transform:uppercase;
            }
            
            .description {
                padding-top:1em;   
                height: auto;
                min-height: 100% !important;
            }
            
            .img {
                width:100%;
                height: 60em;
                background-size: cover;
                background-repeat: no-repeat;
                border-top-right-radius: $card-radius;
                border-top-left-radius: $card-radius;
                background-position: center;
                flex-grow:1;
        
            }
            
                        
            &:nth-child(2) {
                border-color: rgba(0, 0, 0, 0.08);
            }
        }
        
        
        
        &.blue {
            background: #90a4ae; 
            
            .title { 
                background:#8299a4;
                color:#4e5c62;
            }
            
            .item {
                .heading { color:#566268; }
                .description { color:#fff; }
            }
        }
        
        &.yellow {
            background: #ffeb3b;
            
            .title {
                background-color: #ffe60f;
                color:#c0ad08;
            }
            
            .item {
                .heading { color:#756a00; }
                .description { color:rgba(0, 0, 0, 0.7);   }
            }

        }
        
    }
}

.visualisation {
    $head-size: 24px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .top {
        padding-top: 1em;
        padding-bottom: 1em;
        width:100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-top-right-radius: $card-radius;
        border-top-left-radius: $card-radius;
        background-position: center;
        flex-grow:2;
    }
    
    .header {
        padding-left: 1em;
        padding-right: 1em;
        line-height: 2.5em;
        vertical-align: middle;
        font-size: 2em;
        font-weight:500;
        height: 2.5em;
        box-shadow: 0px -7px 5px -3px rgba(0,0,0,0.1);
        position:relative;
        background-color:rgb(242,242,242);
        color:#333;
        
        &.dark-background {
            color:#fff;
        }
    }
    
    .description {
        padding:2em;
        flex-grow:1;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #ffffff;
    }

    .bottom {
        padding:0rem 2rem 2rem 2rem;
        text-align: left;
        vertical-align: middle;
        display:flex;
        
        .owner {
            color: #424242;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 0;
            
            .avatar {
                display:inline-block;
                vertical-align: top;
                border-radius:50%;
                width:$head-size;
                height:$head-size;
            }
            
            .name {
                display:inline-block;
                padding:0 1rem;          
                line-height: $head-size;
            }
        }
        
            
        .likes {
            
            .icon {
                display: inline-block;
                background:image-url('likes-grey.png') no-repeat center;
                margin-top: calc((16px - #{$head-size}) / 2);
            }
            
            .number {
                display: inline-block;
                line-height: $head-size;   
                padding:0 .5em;
            }
        }
        
        .link {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 0;
            text-align: right;
            
            a {
                line-height: $head-size;
                @include link(#00E676);
            }
        }
    }

}

.floating-badge {
    @include clickable();
    
    position: absolute;
    width: 55px;
    height: 55px;
    bottom: calc(-45px / 2);
    right: 20px;
    border-radius: 50%;
    background-color: #2198f3;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.7);   
    
    &:hover {
        background-color: #44a3eb;
    }
    
    &:active {
        background-color: #218fe3;
    }
    
    .icon {
        
        width:100%;
        height:100%;
        
        &.like {
            background: image-url('like.png') no-repeat center;   
        }
    }
}
