@import "variables";
@import "mixins";

html { height:100%; overflow-y: hidden; }
body { 
    height:100%; 
    padding-top:$header-height;
    
    @media (max-width: $mobile-width) {
           padding-top:$header-height-small;
    }
}


a { @include clickable(); text-decoration: none !important; }

#menu-shadow {
    @include animated();
    position:fixed;
    top:0;
    left:0;
    width:$menu-width;
    height:$header-height;
    box-shadow:0px 0px 10px rgba(0,0,0,0.3);
    z-index:3;
    
    &.ng-hide {
        left:-$menu-width;
    }
    
    @media (max-width: $mobile-width) {
           height:$header-height-small;
    }
}

select {
    border: 0 none;
    color: #969696;
    outline: none;
    border-bottom: 1px solid #e8e8e8;
    background: transparent;
    padding: 0.5rem 0;
    width: 378px;
    *width: 350px;
    *background: #58B14C;
}

input, textarea {
    padding:0.5rem 0;
    background:none;
    border:none;
    border-bottom:1px solid #e8e8e8;
    @include placeholder-color(#ccc);
    color:#969696;
    outline: none;
    
    resize:none;
}


header {
    @include animated();
    
    @media (max-width: $mobile-width) {
        height:$header-height-small;
    }

    &.visualisations {
         background-color:#3f51b5;
         #search { background-color: #3f51b5; }
    }
    &.submit-advert {
        background-color: #448aff;
        #search { background-color: #448aff; }
    }
    &.submit-visualisation {
        background-color: #1de9b6;
        #search { background-color: #1de9b6; }
    }
    &.moderate {
        background-color: #f44336;
    }
    &.schedule {
        background-color: #00e676;
    }
    

    width:100%;
    color:#fff;
    font-size:2rem;
    font-weight:500;
    height:$header-height;
    position:fixed;
    top:0;
    left:0;
    z-index:3;

    #menu-button {
        @include clickable();
        
        position:relative;
        width:$header-height;
        height:$header-height; 
        float:left;
        display: inline-block;
        
        @media (max-width: $mobile-width) {
            width:$header-height-small;
            height:$header-height-small;
        }
        
        .hamburger {
            @include animated();
            $hamburger-size: 18px;
            background: image-url("ic_menu_white_18dp.png") left center no-repeat no-repeat;
            position:absolute;
            width:$hamburger-size;
            height:$hamburger-size;
            
            top:calc(( #{$header-height} - #{$hamburger-size})/2);
            left:calc(( #{$header-height} - #{$hamburger-size})/2);
            
            @media (max-width: $mobile-width) {
                top:calc(( #{$header-height-small} - #{$hamburger-size})/2);
                left:calc(( #{$header-height-small} - #{$hamburger-size})/2);
            }
            
            &.half {
                width:$hamburger-size/2;
            }
        }
        
    }
    
    #breadcrumb {
        
        > div {
            display: inline-block;  
        }
        
        .title {
            line-height:$header-height;
            vertical-align:middle;
            display: inline-block;
            
            &.secondary {
                   opacity:0.7;
            }
            
                            
            @media (max-width: $mobile-width) {
                font-size:1.3rem;
                line-height:$header-height-small;
            }
        }
        
        .arrow {
            width:9px;
            height:13px;
            background:image-url('breadcrumb.png');
            display: inline-block;
            margin:0px 6px;
        }
    }
    


    
    #search {
        @include animated();
        @include clickable();
        
        position:fixed;
        right:0;
        top:0;
        height:$header-height;
        padding:0px 20px;

        @media (max-width: $mobile-width) {
            height:$header-height-small;
        }
        
        .icon {
            height:100%;
            background: image-url('ic_search_white_24dp.png') no-repeat no-repeat center center;
            width:25px;
            display: inline-block;
            padding: 0px 20px;
            
            opacity:0.7;      
        }
        
        input {
            @include animated();
            
            display: inline-block;
            float: right;
            margin-left:20px;
            width:300px;
            margin-top: 1.6rem;
            border-bottom-color: rgba(255,255,255,0.5);
            color:#fff;
            font-size:1.5rem;
            
            @include placeholder-color(rgba(255, 255,255,1));

            &.ng-hide {
                width:0;
                margin-left:0;
                margin-right:0;
            }
            
            @media (max-width: $mobile-width) {
                font-size:1.3rem;
                max-width: 80%;
                margin-top: 0.45rem;
            }
        }
        
        &.active {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4)   
        }

        &.ng-hide {
            opacity:0;
        }
    }
    
}

#menu {
    @include animated();
    $padding:1.5rem;
    
    position:fixed;
    top:$header-height;
    left:0;
    height: calc(100% - #{$header-height});
    background:#fff;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
    width:$menu-width;
    max-width:100%;
    z-index:2;
    display:flex;
    flex-direction: column;
    font-size:0.9rem;

    @media (min-height: $large-height) {
        font-size:1rem;
    }
    
    &.ng-hide {
        left:-$menu-width;
    }
    
    @media (max-width: $mobile-width) {
        top:$header-height-small;
        height: calc(100% - #{$header-height-small});
    }
    
    nav {
        overflow-y:auto;
        $icon-size: 25px;
        flex-grow: 1;
        
        section {
            padding:$padding/2 0;
            border-bottom:1px solid #ececec;
            
            &:last-child {
                padding-bottom:0px;
                border-bottom:none;
            }
        }
        
        .item {
            @include animated(0.3s);
            font-weight:500;
            display: flex;
                                         
            &.active, &:hover {
                .icon {
                    opacity:1;   
                }
            }  
            
            &.active {
                background-color:#ededed;
            }
            
            > * {
                display:inline-block;
            }
            
            .icon {
                @include animated(0.3s);
                width:$icon-size; 
                height:$icon-size;
                margin:$padding*2/3 $padding;
                opacity:0.5
            }
            
            a, .name {
                @include animated();
                
                line-height:$icon-size;
                vertical-align: middle;
                flex-grow:1;
                padding:$padding*2/3 $padding $padding*2/3 $padding;
                @include link(#343434);
            }
            
                            
            &.special {
                @include animated();

                &.advert a {
                    color:#448aff;
                }

                &.vis a {
                    color:#1de9b6;
                }
                
                &.moderate {
                    a { color: #f44336; }
                    
                    .number {
                        padding: 0px $padding;
                        //color: #fff;
                    }
                }
                
                &.schedule {
                    a { color: #00e676; }
                }
            }
        }
        
    }
            

    .branding {
        padding:$padding $padding;

        flex-shrink:0;
        vertical-align: middle;
        background:#e0e0e0;
        color:#868686;
        border-bottom:1px solid #d8d8d8;
        
        color:#fff;
        background:#616161;
        border-bottom:1px solid #757575;
    }
    
    .bottom {
        background:#fff;
        display: flex;
        flex-direction: column;
        
        .user {
            $head-size:24px;
            flex-shrink:0;
            
            .avatar {
                border-radius:50%;
                width:$head-size;
                height:$head-size;
                opacity:1 !important;
            }
            
            .name {
                line-height: $head-size;
                
                &.logged-in:hover {
                    cursor:auto;
                }
            }
            
            .logout {
                @include clickable();
                @include animated();
                background: image-url('ic_exit_to_app_grey600_24dp.png') no-repeat no-repeat center center;
                height: $head-size;
                width: $head-size;
                opacity:0.6;
                
                &:hover {
                    opacity:1;   
                }
            }
            
        }


        .legal {
            color:#9e9e9e;
            padding:$padding $padding; 
            flex-shrink:0;
            
            .toggle-credits {
                float:right;
                @include link(#4db6ac);
            }
        }
        
        
        .credits {
            @include animated();
            flex-grow:1;
            
            background:#e0e0e0;
            color:#9e9e9e;
            padding:$padding;
            overflow: hidden;

            a {
                @include link(#616161);
            }
            
            &.ng-hide {
                height:0px;
                padding:0px $padding;
            }

        }
    }
    
}

section.viewport {
    position:relative;
    height:100%;
    width:100%;
    padding:20px;
    background:#f2f2f2;
    overflow-x:hidden;
    
    #mask {
        @include animated();
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        background-color:#000;
        opacity:0.6;
        z-index: 1;
        
        &.ng-hide {
            opacity:0;   
        }
    }
    
    .ngview {
        position:absolute;
        padding:20px;
        top:0;
        left:0;
        height:100%;
        width:100%;
        background:#f2f2f2;
        
        &.visualisations {
            padding:0px;   
        }
    }
    
}

.container-fluid {
    height:100%;
    padding:0px;
    
    .row {
        height:100%   
    }
}

.page {
    @include animated(1s);
}

.page.ng-leave {
    opacity:1
}

.page.ng-leave-active {
    opacity:0;
}

.page.ng-enter {
    opacity:0;
}

.page.ng-enter-active {
    opacity:1;
}

.page {
    &.view-visualisation {
        padding:20px;
    }
}

.page {
    &.view-visualisation {
        padding:20px;
    }
}