@import "variables";
@import "mixins";

#masonry {
    height:100%;
    width:auto;
    overflow-x:auto;
    overflow-y:hidden;
    padding: 10px 10px 0px 10px;
    
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap:0;
    
    @media (max-width: $mobile-width) {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        
        overflow-y:auto;
        overflow-x:hidden;
    }

    .grid-item {
        background-color: white;
        display: inline-block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin:$card-shadow-radius;
        @include clickable();
        
        .content {
            flex-direction:column;
            display:flex;
            width:100%;
            height:100%;

            .img {
                width:100%;
                background-size: cover;
                background-repeat: no-repeat;
                border-top-right-radius: $card-radius;
                border-top-left-radius: $card-radius;
                background-position: center;
                flex-grow:1;
            }

            .header {
                font-size: 2rem;
                font-weight: 500;
                padding: 1rem 1.5rem;
                flex-grow:0;
                flex-shrink:0;
                color:#fff;
                box-shadow: 0px -7px 5px -3px rgba(0,0,0,0.1);
                
                &.bright-background {
                    color:#333;
                }
                
                a {
                    color:inherit;    
                }
            }
            
            .bottom {
                flex-shrink: 0;
                
                .desc {
                    font-size: 1rem;
                    padding: 1rem 0 1rem 1.5rem;
                    overflow: hidden;
                }
            }

        }

        &.large {
            width: calc(100% - #{$card-shadow-radius} * 2);
            height: 60%;
            overflow:hidden;

            .img {     
                @media (max-width: $mobile-width) {
                    height:200px
                }
            }

            .bottom {
                $arrow-width: 16px;
                $arrow-padding: 25px;
                
                display:table;
                
                .desc {
                    display:table-cell;
                }
        
                .go {
                    display:table-cell;
                    width:$arrow-width;
                    height:100%;
                    padding:0px $arrow-padding 0px $arrow-padding;
                    background: image-url("blue-arrow-right.png") center no-repeat;
                }
                
            }
        }

        &.small {
            width: calc(50% - #{$card-shadow-radius} * 2);
            height: calc(40% - 7px * 6);
            overflow:hidden;

            .header {
                font-size: 1rem;
            }
    
            .desc {
                display: none;
            }

            .right {

            }

        }
            
    }
}