<!DOCTYPE html>
<html ng-app="app" ng-controller="mainController" data-no-turbolink>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<title><%= content_for?(:title) ? yield(:title) : "Visualisation Catalog" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Visualisation Catalog" %>">
</head>
<body>

<style>
html, body {
    padding:0;
    margin:0;
    background-color:#000
}
</style>

    <%= yield %>
</body>
</html>
